<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="row g-4 settings-section">
                <h1 class="app-page-title">Cập nhật</h1>
                <hr class="mb-4">
                <div class="col-12 col-md-8">
                    <div class="app-card app-card-settings shadow-sm p-4">
                        <div class="app-card-body">
                            <form class="create-product-form" action="/products/{{Products.id}}?_method=PUT"
                                method="POST">
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Mã</label>
                                    <input type="text" name="id" class="form-control" id="setting-input-2"
                                        value="{{Products.id}}" readonly placeholder="Nhập mô tả sách...">
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-1" class="form-label">Tên sách<span class="ms-2"
                                            data-container="body" data-bs-toggle="popover" data-trigger="hover"
                                            data-placement="top"
                                            data-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg
                                                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg></span>
                                    </label>
                                    <input type="text" value="{{Products.product_name}}" name="product_name"
                                        class="form-control" id="setting-input-1" placeholder="Nhập tên sách ...">
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Mô tả</label>
                                    <input type="text" value="{{Products.description}}" name="description"
                                        class="form-control" id="setting-input-2" placeholder="Nhập mô tả sách...">
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Giá</label>
                                    <input type="text" value="{{Products.list_price}}" name="list_price"
                                        class="form-control" id="setting-input-2">
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Loại sách</label>
                                    <input type="text" value="{{Products.category}}" name="category"
                                        class="form-control" id="setting-input-2">
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Tác giả</label>
                                    <input type="text" value="{{Products.author}}" name="author" class="form-control"
                                        id="setting-input-2">
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Số lượng</label>
                                    <input type="number" value="{{Products.minimum_reorder_quantity}}"
                                        name="minimum_reorder_quantity" class="form-control" id="setting-input-2">
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Link ảnh</label>
                                    <input type="text" value="{{Products.product_img}}" name="product_img"
                                        class="form-control" id="setting-input-2">
                                </div>
                                <button type="submit" class="btn app-btn-primary">Lưu</button>
                                <a href="/products" class="btn btn-danger">Hủy</a>
                            </form>
                        </div>
                        <!--//app-card-body-->

                    </div>
                    <!--//app-card-->
                </div>
            </div>
        </div>
        <!--//app-content-->

        <footer class="app-footer">
            <div class="container text-center py-3">
                <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                        style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com"
                        target="_blank">PVTUAN</a> for developers</small>

            </div>
        </footer>
        <!--//app-footer-->

    </div>
    <!--//app-wrapper-->
    <script>
        document.getElementById('list_products').classList.add("active");
    </script>