<div class="app-wrapper">

	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">

			<div class="row g-3 mb-4 align-items-center justify-content-between">
				<div class="col-auto">
					<h1 class="app-page-title mb-0">Sách</h1>
				</div>
				<div class="col-auto">
					<div class="page-utilities">
						<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							<div class="col-auto">
								<form class="table-search-form row gx-1 align-items-center">
									<div class="col-auto">
										<input type="text" id="search-orders" name="searchorders"
											class="form-control search-orders" placeholder="Nhập tìm kiếm...">
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-secondary">Tìm kiếm</button>
									</div>
								</form>

							</div>
							<!--//col-->

							<div class="col-auto">
								<a class="btn app-btn-secondary" href="/products/create">
									<path fill-rule="evenodd"
										d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
									<path fill-rule="evenodd"
										d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
									</svg>
									Thêm Sản Phẩm
								</a>
							</div>
						</div>
						<!--//row-->
					</div>
					<!--//table-utilities-->
				</div>
				<!--//col-auto-->
			</div>
			<!--//row-->


			<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
				<a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab"
					href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">Tất cả</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-bs-toggle="tab"
					href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Sách hot</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab"
					href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Sách mới</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab"
					href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">Sách kỹ
					năng</a>
			</nav>


			<div class="tab-content" id="orders-table-tab-content">
				<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table app-table-hover mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">#</th>
											<th class="cell">Ảnh</th>
											<th class="cell">Tên</th>
											<th class="cell">Giá</th>
											<th class="cell">Tác giả</th>
											<th class="cell"></th>
										</tr>
									</thead>
									<tbody>
										{{#each Products}}
										<tr>
											<td class="cell">{{sum @index 1}}</td>
											<td class="cell"><img src="{{this.product_img}}" alt="" width="60px"
													height="100px"></td>
											<td class="cell"><span class="truncate">{{this.product_name}}</span></td>
											<td class="cell">{{format this.list_price}}</td>
											<td class="cell">{{this.author}}</td>
											<td class="cell">
												<a href="/products/{{this.id}}/edit" class="btn btn-primary">Sửa</a>
												<a href="/products/{{this.id}}/delete" class="btn btn-danger"
													data-bs-toggle="modal" data-bs-target="#delete-product-modal"
													data-bs-id="{{this.id}}" style="border-style: none;">Xóa</a>
											</td>
										</tr>
										{{/each}}

									</tbody>
								</table>
							</div>
							<!--//table-responsive-->

						</div>
						<!--//app-card-body-->
					</div>
					<!--//app-card-->
					<nav class="app-pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item ">
								<a class="page-link" href="/products/?page={{sub data.pageNow 1}}&limit=16"
									tabindex="-1" aria-disabled="true">Trước</a>
							</li>
							<li id="product_page_1" class="page-item"><a class="page-link"
									href="/products/?page=1&limit=16">1</a>
							</li>
							<li id="product_page_2" class="page-item"><a class="page-link"
									href="/products/?page=2&limit=16">2</a></li>
							{{#if data.isFour}}
							<li><span style="margin-left: 16px ;">.</span></li>
							<li><span style="margin-right: 16px ;">.</span></li>
							<li id="product_page_{{data.pageNow}}" class=" page-item"><a class="page-link"
									href="/products/?page={{data.pageNow}}&limit=16">{{data.pageNow}}</a></li>
							{{/if}}
							{{#if data.isNearTotalPage}}
							<li><span style="margin-left: 16px ;">.</span></li>
							<li><span style="margin-right: 16px ;">.</span></li>
							{{/if}}
							{{#if data.isTotalPage}}
							<li class="page-item"><a class="page-link"
									href="/products/?page={{data.totalPage}}&limit=16">{{data.totalPage}}</a></li>
							<li class="page-item">
								<a class="page-link" href="/products/?page={{sum data.pageNow 1}}&limit=16">Sau</a>
							</li>
							{{/if}}
						</ul>
					</nav>
					<!--//app-pagination-->

				</div>
				<!--//tab-pane-->

				<div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
					<div class="app-card app-card-orders-table mb-5">
						<div class="app-card-body">
							<div class="table-responsive">

								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Order</th>
											<th class="cell">Product</th>
											<th class="cell">product</th>
											<th class="cell">Date</th>
											<th class="cell">Status</th>
											<th class="cell">Total</th>
											<th class="cell"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="cell">#15346</td>
											<td class="cell"><span class="truncate">Lorem ipsum dolor sit amet eget
													volutpat erat</span></td>
											<td class="cell">John Sanders</td>
											<td class="cell"><span>17 Oct</span><span class="note">2:16 PM</span></td>
											<td class="cell"><span class="badge bg-success">Paid</span></td>
											<td class="cell">$259.35</td>
											<td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
										</tr>

										<tr>
											<td class="cell">#15344</td>
											<td class="cell"><span class="truncate">Pellentesque diam imperdiet</span>
											</td>
											<td class="cell">Teresa Holland</td>
											<td class="cell"><span class="cell-data">16 Oct</span><span
													class="note">01:16 AM</span></td>
											<td class="cell"><span class="badge bg-success">Paid</span></td>
											<td class="cell">$123.00</td>
											<td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
										</tr>

										<tr>
											<td class="cell">#15343</td>
											<td class="cell"><span class="truncate">Vestibulum a accumsan lectus sed
													mollis ipsum</span></td>
											<td class="cell">Jayden Massey</td>
											<td class="cell"><span class="cell-data">15 Oct</span><span
													class="note">8:07 PM</span></td>
											<td class="cell"><span class="badge bg-success">Paid</span></td>
											<td class="cell">$199.00</td>
											<td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
										</tr>


										<tr>
											<td class="cell">#15341</td>
											<td class="cell"><span class="truncate">Morbi vulputate lacinia neque et
													sollicitudin</span></td>
											<td class="cell">Raymond Atkins</td>
											<td class="cell"><span class="cell-data">11 Oct</span><span
													class="note">11:18 AM</span></td>
											<td class="cell"><span class="badge bg-success">Paid</span></td>
											<td class="cell">$678.26</td>
											<td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
										</tr>

									</tbody>
								</table>
							</div>
							<!--//table-responsive-->
						</div>
						<!--//app-card-body-->
					</div>
					<!--//app-card-->
				</div>
				<!--//tab-pane-->

				<div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
					<div class="app-card app-card-orders-table mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Order</th>
											<th class="cell">Product</th>
											<th class="cell">product</th>
											<th class="cell">Date</th>
											<th class="cell">Status</th>
											<th class="cell">Total</th>
											<th class="cell"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="cell">#15345</td>
											<td class="cell"><span class="truncate">Consectetur adipiscing elit</span>
											</td>
											<td class="cell">Dylan Ambrose</td>
											<td class="cell"><span class="cell-data">16 Oct</span><span
													class="note">03:16 AM</span></td>
											<td class="cell"><span class="badge bg-warning">Pending</span></td>
											<td class="cell">$96.20</td>
											<td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--//table-responsive-->
						</div>
						<!--//app-card-body-->
					</div>
					<!--//app-card-->
				</div>
				<!--//tab-pane-->
				<div class="tab-pane fade" id="orders-cancelled" role="tabpanel" aria-labelledby="orders-cancelled-tab">
					<div class="app-card app-card-orders-table mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Order</th>
											<th class="cell">Product</th>
											<th class="cell">product</th>
											<th class="cell">Date</th>
											<th class="cell">Status</th>
											<th class="cell">Total</th>
											<th class="cell"></th>
										</tr>
									</thead>
									<tbody>

										<tr>
											<td class="cell">#15342</td>
											<td class="cell"><span class="truncate">Justo feugiat neque</span></td>
											<td class="cell">Reina Brooks</td>
											<td class="cell"><span class="cell-data">12 Oct</span><span
													class="note">04:23 PM</span></td>
											<td class="cell"><span class="badge bg-danger">Cancelled</span></td>
											<td class="cell">$59.00</td>
											<td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
										</tr>

									</tbody>
								</table>
							</div>
							<!--//table-responsive-->
						</div>
						<!--//app-card-body-->
					</div>
					<!--//app-card-->
				</div>
				<!--//tab-pane-->
			</div>
			<!--//tab-content-->



		</div>
		<!--//container-fluid-->
	</div>
	<!--//app-content-->

	<footer class="app-footer">
		<div class="container text-center py-3">
			<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
					style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com"
					target="_blank">Xiaoying Riley</a> for developers</small>

		</div>
	</footer>
	<!--//app-footer-->

</div>
<!--//app-wrapper-->

{{!-- Confirm delete--}}
<!-- Modal -->
<div class="modal fade" id="delete-product-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Xóa sản phẩm?</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Bạn có chắc chắn muốn xóa sản phẩm này không?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Hủy</button>
				<button id="btn-delete-product" type="button" class="btn btn-primary">Xóa</button>
			</div>
		</div>
	</div>
</div>
{{!-- Delete hidden form --}}
<form class="delete" method="POST" name="delete-product-form"></form>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var productId;
		var delete_product_modal = document.getElementById('delete-product-modal')
		var deleteForm = document.forms['delete-product-form'];
		var btnDeleteProduct = document.getElementById('btn-delete-product');

		//When dialog confirm log
		delete_product_modal.addEventListener('show.bs.modal', function (event, callback) {
			var button = event.relatedTarget // Button that triggered the modal
			productId = button.getAttribute('data-bs-id') // Extract info from data-* attributes
		});

		//When onclick notification btn (Xoa bo)
		btnDeleteProduct.onclick = function () {
			//Change action = "/products/id?_method = DELETE"
			deleteForm.action = '/products/' + productId + '?_method=DELETE';
			//Enter submit form
			deleteForm.submit();
		}
	});

</script>
<script>
	document.getElementById('item_list_products').classList.add("active");
	document.getElementById('list_products').classList.add("active");
	var e = "product_page_" + {{ data.pageNow }};
	document.getElementById(e).classList.add("active");
</script>